* {
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  font-size: 15px;
  line-height: 1;
  color: #666;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  padding: 0 25px;
}

.only-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* burgerrrrrrrrrrrrrrrrrrrrrr */
#check-menu {
  display: none;
}

.wrapper2 {
  color: antiquewhite;
  text-align: center;
}

label.header-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  line-height: 40px;
}

.burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: 0.5s all;
}

.second,
.third {
  top: 18px;
}

.fourth {
  top: 28px;
}

.main-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
  z-index: 5;
}

.header-a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: tomato;
  z-index: 5;
}
#check-menu:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;
}

#check-menu:checked ~ .first {
  display: none;
}

#check-menu:checked ~ .second {
  transform: rotate(-45deg);
}

#check-menu:checked ~ .third {
  transform: rotate(45deg);
}

#check-menu:checked ~ .fourth {
  display: none;
}
.mobile-burger {
  display: none;
}

.mobile-burger {
  background-color: rgba(70, 177, 201, 1);
  height: 40px;
  position: fixed;
  max-width: 100%;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  display: none;
}

/* burgerrrrrrrrrrrrrrrrrrrrrr */
button.circle span::after {
  content: "";
  display: inline-block;
  width: 41px;
  height: 5px;
  background-image: url("../photo/arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.two-circles {
  position: relative;
  margin: auto;
  display: flex;
}

.margintp70 {
  margin-top: 70px;
  margin-left: 50px;
}

.circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 1px solid;
  border-color: #000000;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.circle-text {
  transition-duration: 0.8s;
}
.circle:hover .circle-text {
  right: -150px;
}

.button-move:hover .circle-text {
  right: -190px;
}

.button-move2:hover .circle-text {
  right: -180px;
}

.circle:hover .arrow-left {
  left: -90px;
}

.circle:hover .arrow-right {
  right: -90px;
}

.arrow-left {
  transition-duration: 0.8s;
}

.arrow-right {
  transition-duration: 0.8s;
}

.mobile-in {
  display: none;
}

.mobile-out {
  display: block;
}

.circle-text {
  position: absolute;
  font-size: 24px;
  top: 48px;
  right: -83px;
  display: flex;
  align-items: center;
}

.btn-text {
  right: -109px;
}

.arow {
  position: absolute;
  right: 0;
  top: 58px;
}

.header-ul {
  max-width: 100%;
  width: 100%;
  margin: 70px 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.head-li {
  margin-left: 70px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #030303;
}

/* section subject-shotttttttttttttttttttttttttttttttt */

.subj-shot-page {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.subject-shot-alltext {
  max-width: 65%;
  width: 100%;
}
.text-coloum {
  width: 400px;
}

.subject-shot-text {
  margin-top: 118px;
  width: 410px;
}

.h1-text {
  font-weight: 400;
  font-size: 72px;
  color: #030303;
}

.subject-shot-descr {
  margin-top: 35px;
}

.h3-text {
  font-size: 24px;
  color: #030303;
  margin-top: 35px;
  font-weight: 400;
}

.subject-shot-photos {
  position: relative;
  max-width: 35%;
  width: 100%;
}

.photo-spoons {
  margin-left: auto;
}

.cup-spoon-photo {
  position: absolute;
  width: 320px;
  bottom: -115px;
  left: -23%;
}

.wuy-wee-text {
  margin-top: 125px;
  margin-bottom: 70px;
}

/* we do simpl seactionnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
.we-do-simpl {
  margin-top: 70px;
}

.descr-text {
  display: flex;
}

.number-text {
  font-size: 144px;
  font-weight: normal;
  color: rgba(70, 177, 201, 1);
  margin-right: 70px;
}

.we-do-descr {
  display: flex;
  flex-direction: column;
}

.main-text {
  font-weight: 500;
  font-size: 36px;
  color: #000000;
  margin-top: 15px;
}

.page-one-photo1 {
  max-width: 65%;
  width: 100%;
  padding-right: 100px;
}

.we-do-left-part {
  max-width: 100%;
}

.we-do-right-part {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.page-one-photo2 {
  max-width: 35%;
  width: 100%;
  margin-top: -60px;
}

.photo-botl-add {
  width: 100%;
}

/* we do real seactionnnnnnnnnnnnnnnnnnnnnnnnnnnn */

.we-do-real {
  display: flex;
  flex-direction: column;
}

.we-do-real-descr {
  display: flex;
  margin-top: 100px;
}

.we-do-real-photos {
  display: flex;
  margin-top: 70px;
}

.we-real-left-part {
  max-width: 35%;
  width: 100%;
}

.we-real-coloum-photos {
  max-width: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 100px;
}

.colom-photo-top {
  max-width: 100%;
  width: 100%;
}

.colom-photo {
  height: calc(100% / 2 - 50px);
  position: relative;
  overflow: hidden;
}

.colom-photo img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.colom-photo-bottom {
  max-width: 100%;
  width: 100%;
}

/* we do deteilllllllllllllllllllllllllllllllllllllllllllllllll */

.we-do-deteil {
  margin-top: 100px;
}

.we-do-deteil-photos {
  max-width: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  margin-top: 70px;
}

.detail-photo-left {
  max-width: 35%;
  width: 100%;
}

.detail-photo-right {
  max-width: 65%;
  width: 100%;
  padding-left: 100px;
}

/* success 2222222222222222222 */

.add--for-cont {
  margin-top: 175px;
  padding-left: 25px;
}

.add--for-h1text {
  margin-top: -60px;
}

.section-success {
  position: relative;
  display: flex;
  padding-bottom: 30px;
}

.section-success::after {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(70, 177, 201, 0.25);
}

.section-success::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 90%;
  background-color: rgba(70, 177, 201, 0.25);
}

.photo-70-text {
  max-width: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.h3line-hieght {
  line-height: 35px;
  width: 100%;
  max-width: 70%;
}

.photo-70-photos {
  max-width: 35%;
  width: 100%;
  display: flex;
}

.photoparat-blue {
  margin-top: 20px;
  z-index: 2;
  max-width: 232px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 50px;
}

.border-photo {
  border-radius: 50%;
}

.blue-photo-cont {
  max-width: 50%;
  width: 100%;
  position: relative;
}

.photos-in-coloum {
  z-index: 2;
  position: relative;
  max-width: 50%;
  width: 100%;
}

.photoparat-pink {
  max-width: 168px;
  width: 100%;
  position: absolute;
  top: -100px;
  left: 20px;
}

.photoparat-grey {
  max-width: 146px;
  width: 100%;
  position: absolute;
  bottom: -95px;
  left: 20px;
}

/* seaction-geleryyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy */

.seaction-gelery {
  margin-top: 100px;
  display: flex;
}

.gelery-text-cont {
  margin-top: 200px;
  max-width: 65%;
  width: 100%;
}

.gelery-photo-cont {
  max-width: 45%;
}

/* seactions-2btnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
.seactions-2btn {
  display: flex;
  flex-direction: column;
}

.arrow-left {
  position: absolute;
  left: -25px;
  display: flex;
}

.arrow-right {
  position: absolute;
  right: -25px;
  display: flex;
}

/* seaction-contacttttttttttttttttttttttttttttttttttt */

.seaction-contact {
  margin-top: 100px;
  display: flex;
}

.contact-text-cont {
  max-width: 55%;
  width: 100%;
}

.form-container {
  max-width: 100%;
  width: 100%;
  height: unset;
  background-color: rgba(70, 177, 201, 0.25);
}

#form .form-group {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.big-message {
  margin-top: 20px;
  padding-top: 100px;
}

#form {
  padding-top: 20px;
  padding-bottom: 20px;
}

#form input,
#form textarea {
  width: 100%;
  color: black;
  min-height: 40px;
  background: transparent;
  border: none;
  appearance: none;
  border-bottom: 1px solid gray;
  resize: none;
}

.finish-btn-mrg {
  right: -102px;
}

.footer-meny {
  max-width: 50%;
  width: 100%;
}

.footer-ul {
  display: flex;
  list-style: none;
  margin-top: 110px;
  margin-bottom: 70px;
  color: #030303;
}

.link-footer {
  color: #030303;
  display: flex;
  list-style: none;
  font-size: 18px;
  text-decoration: none;
  margin-right: 100px;
}

.footer-img {
  margin-top: 100px;
  margin-bottom: 70px;
  max-width: 50%;
  width: 100%;
  margin-left: 180px;
}

.footer-midly-img {
  margin: 0 37px;
}

.display {
  display: flex;
}

.inside-form {
  max-width: 100%;
  width: 100%;
}

.h3--page1 {
  width: 400px;
}

#burger,
[for="burger"] {
  display: none;
}

.footer-img-ul {
  display: flex;
  list-style: none;
}

/* adaptaciaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

@media all and (max-width: 1199px) {
  .container {
    max-width: 1140px;
  }

  .head-li {
    margin-left: 60px;
  }

  .h1-text {
    font-size: 60px;
  }

  .we-do--desc1 {
    max-width: 460px;
    width: 100%;
  }

  .we-do--desc2 {
    max-width: 600px;
    width: 100%;
  }

  .we-do--desc3 {
    max-width: 620px;
    width: 100%;
  }

  .we-do-real-descr {
    margin-top: 90px;
  }

  .page-one-photo1 {
    padding-right: 50px;
  }

  .only-add {
    margin-bottom: 110px;
  }

  .we-do-left-part {
    justify-content: end;
  }

  .we-real-coloum-photos {
    padding-left: 50px;
  }

  .colom-photo {
    height: calc(100% / 2 - 25px);
  }

  .detail-photo-right {
    padding-left: 50px;
  }

  .footer-li {
    margin: 0 190px;
  }

  .display {
    margin-left: 40px;
  }

  .gelery-text-cont {
    margin-top: 170px;
  }

  #form input,
  #form textarea {
    width: 90%;
  }

  .shot-success-body {
    margin-top: 0px;
  }

  .contact-text-cont {
    margin-right: 100px;
  }

  .link-footer {
    margin-right: 78px;
  }

  .number-text {
    margin-right: 50px;
  }

  .h3line-hieght {
    max-width: 90%;
  }

  .photoparat-blue {
    top: 15px;
  }

  .photoparat-pink {
    width: 95%;
    left: -20px;
  }
  .photoparat-grey {
    bottom: -70px;
    left: -20px;
  }

  .circle:hover .circle-text {
    right: -150px;
  }

  .button-move:hover .circle-text {
    right: -190px;
  }

  .button-move2:hover .circle-text {
    right: -180px;
  }

  .circle:hover .arrow-left {
    left: -90px;
  }

  .circle:hover .arrow-right {
    right: -90px;
  }
}

@media all and (max-width: 991px) {
  .container {
    max-width: 960px;
  }
  .we-do-left-part {
    max-width: 60%;
    padding-right: 20px;
  }

  .head-li {
    margin-left: 45px;
  }

  .h1-text {
    font-size: 46px;
  }

  .h3-text {
    font-size: 20px;
    margin-top: 10px;
  }

  .text-coloum {
    width: 320px;
  }

  .subject-shot-alltext {
    max-width: 60%;
  }

  .subject-shot-photos {
    position: relative;
    max-width: 40%;
  }

  .cup-spoon-photo {
    width: 280px;
    max-width: 100%;
    bottom: -85px;
    left: -21%;
  }

  .we-do-right-part {
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
  }

  .we-do-left-part {
    max-width: 100%;
  }

  .page-one-photo1 {
    max-width: 60%;
    padding-right: 50px;
  }

  .page-one-photo2 {
    max-width: 40%;
    margin-top: 0px;
  }

  .photoparat-blue {
    width: 174px;
    top: 0px;
    left: 78px;
  }

  .photoparat-pink {
    width: 140px;
    top: -135px;
    left: -30px;
  }

  .photoparat-grey {
    width: 124px;
    left: -30px;
    bottom: -70px;
  }

  .number-text {
    margin-right: 35px;
    font-size: 120px;
  }

  .we-do-real-descr {
    margin-top: 45px;
  }

  .we-do-real-photos {
    margin-top: 50px;
  }

  .we-do-deteil {
    margin-top: 45px;
  }

  .we-do-deteil-photos {
    margin-top: 50px;
  }

  .seaction-gelery {
    margin-top: 50px;
  }

  .link-footer {
    margin-right: 50px;
  }

  .display {
    margin-left: 40px;
  }

  .seaction-contact {
    margin-top: 50px;
  }

  .subject-shot-text {
    margin-top: 80px;
  }

  .wuy-wee-text {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .subject-shot-descr {
    margin-top: 12px;
  }
  .main-text {
    font-weight: 400;
  }

  .gelery-text-cont {
    margin-top: 100px;
  }

  .contact-text-cont {
    margin-right: 18px;
  }

  .form-container {
    width: 100%;
    height: unset;
  }

  .footer-ul {
    margin-top: 70px;
  }
  .footer-img {
    margin-top: 65px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }

  .footer-midly-img {
    margin: 0px 25px;
  }

  .add--for-h1text {
    margin-top: -120px;
  }

  .section-success::before {
    top: -80px;
    height: 130%;
  }

  .margintp70 {
    margin-top: 0px;
  }

  .photoparat-blue {
    width: 156px;
    top: -50px;
    left: -15px;
  }

  .circle {
    margin-top: 30px;
    width: 100px;
    height: 100px;
  }

  .circle-text {
    top: 35px;
  }

  .circle-text {
    font-size: 20px;
    top: 40px;
  }

  .circle:hover .circle-text {
    right: -135px;
  }

  .button-move:hover .circle-text {
    right: -165px;
  }

  .button-move2:hover .circle-text {
    right: -160px;
  }

  .circle:hover .arrow-left {
    left: -90px;
  }

  .circle:hover .arrow-right {
    right: -90px;
  }
}

@media all and (max-width: 767px) {
  .container {
    max-width: 720px;
  }

  .mobile-out-767 {
    display: none;
  }

  .mobile-burger {
    display: block;
  }

  .header-ul {
    margin: 50px 0;
  }

  .subject-shot-text {
    margin-top: 70px;
  }

  .h1-text {
    font-size: 48px;
  }

  .margintp70 {
    margin-top: 15px;
    margin-left: 30px;
  }
  .circle {
    width: 100px;
    height: 100px;
  }

  .circle-text {
    font-size: 13px;
    top: 28px;
    right: -68px;
  }
  .cup-spoon-photo {
    left: -30%;
    width: 235px;
  }

  .we-do-left-part {
    max-width: 100%;
  }

  .number-text {
    margin-right: 35px;
  }

  .number-text {
    font-size: 110px;
  }

  .subject-shot-descr {
    margin-top: 0px;
  }
  .main-text {
    font-size: 25px;
  }

  .we-do-right-part {
    top: 15px;
  }

  .page-one-photo1 {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-top: 15px;
    padding-right: 0px;
  }

  .page-one-photo2 {
    max-width: 35%;
    width: 100%;
    margin-top: 0px;
  }

  .we-do-real-photos {
    margin-top: 35px;
  }

  .we-do-real-descr {
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
  }

  .we-do-deteil-photos {
    margin-top: 40px;
  }

  .shot-success-body {
    margin-top: 70px;
  }

  .h3line-hieght {
    line-height: 32px;
    width: 375px;
    margin-top: -10px;
    max-width: 100%;
  }

  .shot-success-photos {
    max-width: 35%;
  }

  .photoparat-pink {
    width: 145px;
    top: -80px;
    right: -70px;
  }

  .photoparat-grey {
    display: none;
  }

  .gelery-text-cont {
    margin-top: 70px;
  }

  .can-see-text {
    width: 350px;
  }

  .arrow-left {
    width: 60px;
  }

  .arrow-right {
    width: 60px;
  }

  .seaction-contact {
    display: flex;
    flex-direction: column;
  }

  .contact-text-cont {
    max-width: 100%;
  }

  .contact-h1-text {
    display: flex;
    justify-content: center;
  }

  .contact-h3-text {
    display: flex;
    justify-content: center;
  }

  .inside-form {
    display: flex;
    justify-content: center;
  }

  .form-container {
    margin-top: 25px;
    max-width: 100%;
    width: 90%;
  }

  .footer-ul {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .link-footer {
    margin-right: 60px;
  }

  .display {
    flex-direction: column;
  }
  .footer-meny {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-img {
    margin-top: 0px;
    margin-bottom: 70px;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .photo-70-text {
    max-width: 95%;
    text-align: start;
    margin-top: 50px;
  }

  .h1-text {
    font-size: 36px;
    text-align: center;
  }

  .number-text {
    font-size: 100px;
    margin-right: 0px;
  }

  .circle {
    margin-top: 35px;
    width: 70px;
    height: 70px;
  }

  .wuy-wee-text {
    margin-bottom: 35px;
  }

  .we-real-coloum-photos {
    padding-left: 35px;
  }

  .we-do-deteil {
    margin-top: 50px;
  }

  #form input,
  #form textarea {
    width: 100%;
  }

  .link {
    font-size: 14px;
  }

  .text-coloum {
    width: 260px;
  }

  .detail-photo-right {
    padding-left: 35px;
  }

  .link-footer {
    margin: 0px 25px;
  }

  .display {
    margin-left: 0px;
  }

  .subject-shot-text {
    margin-top: 80px;
  }

  .margintp70 {
    margin-top: 0px;
  }

  .photoparat-blue {
    top: 0px;
    left: 0px;
  }

  .photoparat-pink {
    width: 145px;
    top: -140px;
    left: -75px;
  }

  .section-success::before {
    top: -90px;
    height: 130%;
    width: 100%;
  }

  .margintp70 {
    margin-top: -30px;
  }

  .seaction-gelery {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }

  .gelery-text-cont {
    margin-top: 55px;
    max-width: 100%;
    width: 100%;
  }

  .h3-text {
    margin-top: 15px;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }

  .subject-text-mobile {
    text-align: start;
    width: 80%;
  }

  .gelery-photo {
    width: 60%;
    margin: 0 auto;
    margin-top: 45px;
  }

  .descr-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .wuy-wee-text {
    margin-top: 0px;
  }

  .mobile-out {
    display: none;
  }
  .mobile-in {
    display: flex;
  }

  .we-do--desc1 {
    max-width: 100%;
  }

  .detail-photo-right {
    max-width: 100%;
    padding-left: 0px;
  }

  .photo-70-photos {
    max-width: 0%;
  }

  .we-do-left-part {
    padding-right: 0px;
  }
  #form .form-group {
    padding-left: 30px;
    margin-top: 30px;
  }

  #form input,
  #form textarea {
    width: 90%;
  }

  .add--for-cont {
    margin-top: 155px;
  }

  .section-success {
    padding-bottom: 50px;
  }

  .we-do--desc2 {
    max-width: 100%;
    width: 100%;
  }

  .we-do--desc3 {
    max-width: 100%;
  }

  .circle:hover .circle-text {
    right: -105px;
  }

  .button-move:hover .circle-text {
    right: -125px;
  }

  .button-move2:hover .circle-text {
    right: -120px;
  }

  .circle:hover .arrow-left {
    left: -65px;
  }

  .circle:hover .arrow-right {
    right: -65px;
  }

  .subj-shot-page {
    padding-top: 40px;
  }
}

@media all and (max-width: 575px) {
  .mobile-out-767 {
    display: none;
  }

  .circle {
    width: 55px;
    height: 55px;
  }

  .circle-text {
    font-size: 13px;
    top: 20px;
  }

  .link-footer {
    font-size: 14px;
  }

  .subj-shot-page {
    flex-direction: column;
  }

  .subject-shot-alltext {
    max-width: 100%;
  }

  .subject-shot-text {
    margin-top: 0px;
    width: 100%;
  }

  .subject-text-mobile {
    text-align: center;
    width: 100%;
  }

  .photo-spoons {
    display: none;
  }

  .subject-shot-photos {
    max-width: 100%;
  }
  .cup-spoon-photo {
    position: relative;
    max-width: 100%;
    width: 100%;
    left: 0%;
    bottom: -60px;
  }

  .photo-70-text {
    max-width: 91%;
  }

  .footer-img-size {
    height: auto;
    max-width: 24px;
    width: 100%;
  }
}

@media all and (max-width: 425px) {
  .wrapper {
    padding: 0 20px;
  }

  .mobile-out-767 {
    display: none;
  }

  .container {
    max-width: 395px;
  }

  .mobile-out {
    display: none;
  }

  .mobile-in {
    display: block;
  }

  .subject-shot-text {
    margin-top: 0px;
  }

  .text-coloum {
    width: 100%;
  }

  .h3-text {
    margin-top: 10px;
    text-align: center;
  }

  .subj-shot-page {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .subject-shot-alltext {
    max-width: 100%;
  }

  .subject-shot-photos {
    max-width: 100%;
  }

  .photo-spoons {
    display: none;
  }

  .cup-spoon-photo {
    left: 0;
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
  }

  .header-nav {
    display: none;
  }

  .we-do-real-descr {
    flex-direction: column;
    align-items: center;
  }

  .we-do-simpl {
    margin-top: 30px;
  }

  .wuy-wee-text {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .descr-text {
    flex-direction: column;
    align-items: center;
  }

  .number-text {
    font-size: 80px;
    margin: 0px;
  }

  .we-do-left-part {
    padding: 0px;
  }

  .h3--page1 {
    width: 100%;
  }

  .h3-text {
    font-size: 15px;
  }

  .page-one-photo1 {
    max-width: 100%;
    padding: 0px;
    margin-top: 15px;
  }

  .we-do-real-descr {
    margin-top: 35px;
  }

  .detail-photo-right {
    max-width: 100%;
    padding-left: 0px;
  }

  .we-do-deteil-photos {
    margin-top: 15px;
  }

  .rectangle {
    top: 155px;
  }

  .we-real-left-part {
    display: none;
  }

  .we-do-real-photos {
    margin-top: 15px;
  }

  .colom-photo img {
    position: relative;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    top: unset;
    left: unset;
    transform: none;
  }

  .we-real-coloum-photos {
    padding: 0;
    max-width: 100%;
    width: 100%;
    justify-content: unset;
  }

  .colom-photo-top {
    margin-bottom: 10px;
  }

  .main-text {
    text-align: center;
    margin-top: 10px;
  }

  .h3-text {
    text-align: center;
  }

  .h1-text {
    text-align: center;
  }
  .subject-shot-text {
    width: 100%;
  }

  .shot-success-body {
    display: block;
  }

  .h3line-hieght {
    margin-left: 0px;
    width: 100%;
    margin-top: -5px;
  }

  .shot-success-text {
    max-width: 100%;
  }

  .rectangle {
    height: 360px;
  }

  .gelery-text-cont {
    margin-top: 10px;
  }

  .can-see-text {
    max-width: 100%;
    width: 100%;
  }

  .seaction-gelery {
    display: flex;
    flex-direction: column;
  }

  .two-circles {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .media-425 {
    margin-top: -60px;
  }

  .add--for-h1text {
    position: absolute;
    width: 91%;
  }

  .section-success::before {
    width: 101%;
  }
  .circle-mobile {
    margin-top: -35px;
  }

  .h1-text-modificator {
    margin-top: 25px;
  }

  .link-footer {
    margin: 0px;
  }

  .footer-ul {
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .footer-midly-img {
    display: block;
  }

  .form-container {
    width: 100%;
  }

  .footer-img {
    justify-content: space-around;
  }

  .footer-img-size {
    height: auto;
    max-width: 22px;
    width: 100%;
  }

  #form .form-group {
    padding-left: 15px;
  }

  #form .form-group {
    padding-left: 15px;
  }

  .footer-meny {
    display: block;
  }

  .section-success::before {
    background-color: transparent;
  }

  .add--for-cont {
    padding-left: 0px;
  }

  .photo-70-text {
    max-width: 100%;
  }

  .add--for-h1text {
    width: 100%;
  }

  .gelery-photo {
    width: 100%;
  }
}
